<div class="row" id="home">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("drafted.png") %>
      <div class="caption text-center">
        <h3>Drafted Tweets</h3>
        <p class="text-info"><%= @stats[:drafted] %></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("ready.png") %>
      <div class="caption text-center">
        <h3>Ready Tweets</h3>
        <p class="text-success"><%= @stats[:ready] %></p>

      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("tweeted.png") %>
      <div class="caption text-center">
        <h3>Tweeted tweets</h3>
        <p class="text-warning"><%= @stats[:tweeted] %></p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("retweeted.png") %>
      <div class="caption text-center">
        <h3>Retweeted Tweets</h3>
        <p class="text-danger"><%= @stats[:retweeted] %></p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("imported.png") %>
      <div class="caption text-center">
        <h3>Posts imported</h3>
        <p class="text-active"><%= @stats[:imported_posts].to_i %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("rejected.jpeg") %>
      <div class="caption text-center">
        <h3>Posts rejected</h3>
        <p class="text-danger"><%= @stats[:rejected_posts].to_i %></p>
      </div>
    </div>
  </div>

</div>