<% @body_class_name = "my-tweets-page" %>
<section class="row main-content">
  <div class="col-2">

  </div>
  <div class="col-10 main-area">
    <div class="main-wrapper">
      <ul class="row my_tweet_tabs">
        <li class="col-4 ready <%= params[:state] == 'ready' ? 'active' : '' %>"><a href="/posts?state=ready"><i class="fa fa-clock-o"></i> Ready</a></li>
        <li class="col-4 tweeted <%= params[:state] == 'tweeted' ? 'active' : '' %>"><a href="/posts?state=tweeted"><i class="fa fa-check"></i> Tweeted</a></li>
        <li class="col-4 drafts <%= params[:state] == 'drafted' ? 'active' : '' %>"><a href="posts?state=drafted"><i class="fa fa-pencil"></i> Drafts</a></li>
      </ul>
      <div class="my_tweet_contents">

        <!-- Ready Section -->
        <div class="table-wrapper active" id="ready">
          <div class="row card-header">
            <p>You have total <strong><%= @count %></strong> <%= params[:state].to_s.humanize %> posts</p>
            <div class="list-controls">
              <a class="dequeue-selected" href="#" disabled>Dequeue Selected</a>
              <a class="delete-selected" href="#" disabled>Delete Selected</a>
            </div>
          </div>
          <div class="table">
            <ul class="row t-heading">
              <li class="checkbox_list">
                <input type="checkbox" id="select_all" name="">
                <label for="select_all"></label>
              </li>
              <li class="col-4 message">Message</li>
              <li class="col-1 size">Size</li>
              <li class="col-2 created-on">Created on</li>
              <li class="col-2 scheduled-at">Scheduled at</li>
              <li class="col-2 actions">Actions</li>
            </ul>
            <% @posts.each_with_index do |post, index| %>

              <ul class="row t-data scheduled">
                <li class="checkbox_list">
                  <input id="list<%= index %>" class="checkbox" type="checkbox" name="check[]">
                  <label for="list<%= index %>"></label>
                </li>
                <li class="col-4 message"><%= post.content %></li>
                <li class="col-1 size"><%= post.content.length %></li>
                <li class="col-2 created-on"><%= post.created_at.strftime("%d-%m-%y, %H:%M %p") %></li>
                <li class="col-2 scheduled-at"><%= post.scheduled_at.try(:strftime, "%d-%m-%y, %H:%M %p") %></li>
                <li class="col-2 actions">
                  <a data-tooltip="Use this as template" href="/?template=<%= post.id %>"><i class="fa fa-clone"></i></a>
                  <a data-tooltip="Dequeue this scheduled tweet" href="#"><i class="fa fa-history"></i></a>
                  <a data-tooltip="Edit this tweet" href="#"><i class="fa fa-edit"></i></a>
                  <a data-tooltip="Delete this tweet" class="delete" href="#"><i class="fa fa-trash-o"></i></a>
                </li>
              </ul>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>