<% @body_class_name = "import-page" %>

<section class="row main-content">

  <div class="col-2">
  </div>
  <div class="col-10 main-area">
    <%= paginate @documents %>
    <div class="main-wrapper">
      <div class="logs import-logs">
        <div class="row card-header">
          <h2>Imports Logs</h2>
        </div>
        <div class="table">
          <ul class="row t-heading">
            <li class="col-2 file">File</li>
            <li class="col-2 total-entry">Total Entries</li>
            <li class="col-2 added-entry">Entries Added</li>
            <li class="col-2 rejected-entry">Entries Rejected</li>
            <li class="col-2 upload-on">Uploaded on</li>
            <li class="col-2 status">Status</li>
            <li class="col-2 output">Output</li>
          </ul>
          <% @documents.each do |document| %>
            <ul class="row t-data success">
              <li class="col-2 file">
                <%= link_to File.basename(document.upload_doc.file.file), document.upload_doc.url %>
              </li>
              <li class="col-2 total-entry"><%= document.records_processed %></li>
              <li class="col-2 added-entry"><%= document.posts_added %></li>
              <li class="col-2 rejected-entry"><%= document.posts_rejected %></li>
              <li class="col-2 upload-on"><%=l document.created_at.localtime, format: :long %></li>
              <li class="col-2 status"><%= document.status %></li>
              <li class="col-2 output">
                <%= link_to File.basename(document.output_filename), document.output_url if File.exists?(document.output_filename) %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <%= paginate @documents %>
  </div>
</section>
