<!DOCTYPE html>
<html>
  <head>
    <title>TweetDeck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TweetDeck</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if current_page?(posts_path) %>">
                <%= link_to t("helpers.link.posts"), posts_path %>
              </li>
              <li class="<%= 'active' if current_page?(document_index_path) %>" >
                <%= link_to t("helpers.link.documents"), document_index_path %>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="To be implemented">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu custom-ul">
                  <li><%= link_to "Logout", destroy_user_session_path, class: "btn", method: :delete %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
      <%= render "/shared/status_model" %>


    </div>
    <!-- spinner -->
    <div class="sk-folding-cube hide" id="spinner">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <!-- end spinner -->
  </body>
</html>
