<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <title>TweetDeck</title>
    <%= csrf_meta_tags %>

    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Barbet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="/style/flatpickr.css"/>
    <link rel="stylesheet" href="/style/stylesheets/style.css"/>
  </head>

  <body class="<%= @body_class_name || 'home-page' %>">
    <div class="canvas">
      <% if current_user %>
        <%= render partial: '/layouts/nav' %>
        <main class="content-wrapper">
          <%= render partial: '/layouts/sidebar' %>
          <%= yield %>
        </main>
      <% else %>
        <%= yield %>
      <% end %>

    <%= render partial: '/layouts/footer' %>
    </div>
    </main>

    <%= render partial: '/layouts/mobile-nav' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

    <!-- <script src="/bx-slider/jquery.bxslider.min.js"></script> -->
    <!-- <script src="/js/vendor/jquery-1.11.3.min.js"></script> -->
    <script src="/js/flatpickr.js"></script>
    <script src="/js/uploadPreview.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
